{% extends "diary/base.html" %}

{% block content %}
<p>{{day.title}}></p>
<form action="" method="POST" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <th>タイトル</th>
            <th>{{form.title}}</th>
        </tr>
    
        <tr>
            <th>本文</th>
            <th>{{form.text}}</th>
        </tr>
        <tr>
            <th>日付</th>
            <th>{{form.date}}</th>
        </tr>
        <!-- <tr>
            <th>写真</th>
            <th>{{form.image}}</th>
        </tr> -->
    </table>
    
<button class="btn btn-primary" type="submit">ポチンキ</button>
{% csrf_token %}
</form>
{%endblock%}